.App {
  text-align: center;
}

.App-header {
  background-color: #15171e;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #15171e;
  height: 400vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBarContainer {
  display: flex;
  align-items: center;
}

.search-playlist-container {
  display: flex;
  width: 95%;
  gap: 30px;
  margin: 50px;
}

.searchResultsContainer {
  flex-grow: 1;
  background-color: #1a1c23;
  color: rgb(255, 255, 255, 0.72);
  text-align: left;
  padding: 15px;
  border-radius: 5px;
}

.searchResultsContainer > h2 {
  margin: 0;
  color: #ffffff;
}

.playlistContainer {
  flex-grow: 1;
  background-color: #1a1c23;
  color: rgb(255, 255, 255, 0.72);
  text-align: left;
  padding: 15px;
  border-radius: 5px;
}

.playlistContainer > h2 {
  margin: 0;
  color: #ffffff;
}

.trackContainer {
  border-bottom: 1px solid rgb(255, 255, 255, 0.72);
}